<h1>Listing Board</h1>
<table>
<% @boards.each do |b| %>
  <thead>
  <tr>
    <td>Date:</td>
    <td>Location:</td>
    <td>Image:</td>
    <td>Comment:</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= b.date %></td>
      <td><%= b.location %></td>
      <td><%= b.image %></td>
      <td><%= b.comment %></td>
<td><%= link_to 'show',board_path(b) %></td>
<td><%= link_to 'edit',edit_board_path(b) %></td>
<td><%= link_to 'destroy',board_path(b),method: :delete,data: {confirm: "are you sure"} %></td>
    </tr>
  </tbody>
  <% end %>
</table>
